/* Bad CSS file, keeping only for tutorial.html and techblog.html */

@font-face {
	font-family: "League Spartan";
	src: url('LeagueSpartan-Bold.otf');
}

html, body {
	font-family: "Lato";
	font-weight: 400;
	height: 100%;
}


h2 {
	font-family: "League Spartan";
	z-index: 10;
	margin-bottom: 15%;
	color: white;
}

.container {
	max-width: none;
}

.full {
	width: 100%;
}

.tool {
	z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.block {
	height: 50%;
}

.space {
	margin-top: 15px;
}

.space:hover {
	background-color: #e57373;
}

.home {
	position: absolute;
	right: 80px;
	top: 40px;
}

div > a:hover {
	color: red;
}

#graph {
	height: 300px;
	width: 300px;
}

#code {
	height: 300px;
	width: 500px;
}

.imgs {
	float: left;
	margin-left: 50px;
}

#data {
	height: 400px;
	width: 800px;
	margin-left: 75px;
}

figure {
	margin-left: 0px;
	display: inline-block;
}

figure img {
	vertical-align: top;
}

.frames > * {
	float: left;
	margin-left: 100px;
	margin-top: 30px;
}

.bar-chart {
	margin-left: 300px;
	margin-bottom: 50px;
}

figcaption {
	font-size: 16px !important;
	font-weight: 700;
	text-align: center;
}

#datacap {
	margin-left: 75px;
}

.clear {
	clear: left;
}


h5 > a:hover {
	color: red;
}

canvas {
	background: black;
}

svg {
  	margin: 2em 0;
  	font: 10px sans-serif;
}

.foreground {
  	fill: #2D6A99;
}

.background {
  	fill: #eee;
}

.resources {
	clear: left;
}

.finish {
	margin-bottom: 50px;
}

.tooltip {
  	background: #eee;
  	box-shadow: 0 0 5px #999999;
  	color: #333;
  	font-size: 12px;
 	padding: 10px;
  	text-align: center;
  	width: 80px;
  	z-index: 10;
}

.tooltip > p {
	margin-top: 0px;
}


div > img {
	margin-top: 25px;
	margin-bottom: 25px;
}


