@font-face {
	font-family: "League Spartan";
	src: url('LeagueSpartan-Bold.otf');
}

html {
	height: 100%;
	font-weight: 400;
}

.container {
	max-width: none;
	z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


h2 {
	font-family: "League Spartan";
	z-index: 10;
	color: white;
	margin-bottom: 50px;
}

.slider.fullscreen {
	z-index: -1;
}

.indicators {
	display: none;
}

.content {
	margin-top: 15%;
}

li {
	display: inline;
}

.icons {
	width: 64px;
	height: 64px;
	background-color: #939393;
	border-radius: 50%;
	margin-left: 50px;
	-webkit-transition: background-color 0.75s ease;
	-moz-transition: background-color 0.75s ease;
	transition: background-color 0.75s ease;
}

.icons:hover{
	background-color: black;
}

#github, #mail, #instagram {
	margin-top: 15px;
}

#linkedin {
	margin-top: 13px;
}
