@font-face {
	font-family: "League Spartan";
	src: url('LeagueSpartan-Bold.otf');
}

html {
	height: 100%;
	font-weight: 400;
}

.container {
	max-width: none;
	z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider.fullscreen {
	z-index: -1;
}

h2 {
	font-family: "League Spartan";
	z-index: 10;
	color: white;
}

.indicators {
	display: none;
}

.icons {
	height: 32px;
	width: 32px;
}
