@font-face {
	font-family: "League Spartan";
	src: url('LeagueSpartan-Bold.otf');
}

* {
	width: 100%;
}

html {
	height: 100%;
	font-weight: 400;
}

h2 {
	font-family: "League Spartan";
	z-index: 10;
	margin-bottom: 15%;
	color: white;
}

.tool {
	z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.indicators {
	display: none;
}
