@font-face {
	font-family: "League Spartan";
	src: url('LeagueSpartan-Bold.otf');
}

html {
	font-family: "Lato";
}

.body, footer {
    padding-left: 240px;
    height: 100%;
}

.head {
	background-color: #e57373;
	height: 225px;
	color: white;
	font-size: 2.5rem;
}

.space:hover {
	background-color: #e57373;
}

.name {
	font-family: "Lato";
	padding-left: 50px;
}

strong {
	font-weight: 700;
}

i {
	float: left;
	font-size: 1.5rem;
	padding-top: 21px;
	padding-left: 10px;
}

.overlay {
	width: 240px;
}

.contact {
	padding-left: 57px;
	padding-top: 10px;
}

.icon {
	width: 64px;
	height: 64px;
	background-color: #939393;
	border-radius: 50%;
	margin-left: 37px;
	margin-top: 10px;
	-webkit-transition: background-color 0.75s ease;
	-moz-transition: background-color 0.75s ease;
	transition: background-color 0.75s ease;
}

.icon:hover{
	background-color: black;
}

.image {
	vertical-align: middle;
	padding-left: 1px;
	padding-bottom: 4px;
}

#bot {
	margin-left: 12px;
}

.overall {
	margin-left: 240px;
}

.topbar {
	height: 225px;
	background-color: #ef5350;
}

h3 {
	padding-left: 20px;
	padding-top: 150px;
	margin-top: 0px;
	font-family: "Lato";
	color: white;
}

.content {
	position: absolute;
	top: 225px;
	bottom: 0;
	width: calc(100% - 240px);
}

.leftside {
	width: 50%;
	margin-left: 5%;
	display: inline-block;
}

p {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
}

.rightside {
	width: 50%;
	display: inline-block;
	float: right;
	margin-left: 8%;
}

.fit {
	height: 50%;
	border-radius: 50%;
	padding-right: 2%;
}

.list-wrapper {
	width: 100%;
	height: 300px;
}

.project {
	width: 200px;
	height: 100%;
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-radius: 10px;
	margin-left: 6%;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	display: block;
	-webkit-transition: border-color 0.75s ease;
	-moz-transition: border-color 0.75s ease;
	transition: border-color 0.75s ease;
}

.projname {
	text-align: center;
	color: gray;
	font-size: 20px;
	margin-top: 60px;
	-webkit-transition: color 0.75s ease;
	-moz-transition: color 0.75s ease;
	transition: color 0.75s ease;

}

.project:hover {
	border-color: #e57373;
}

.project:hover > .projname {
	color: #e57373;
}

.projcon {
	padding-top: 30px;
	padding-left: 38px;
}



@media only screen and (max-width : 992px) {
	header, .body, footer {
      padding-left: 0;
    }

    .overlay {
    	position: relative;
    }

    .content {
    	width: 100%;
    }

    .leftside {
    	height: 100%;
    	width: 55%;
    	padding-left: 20px;
    	padding-top: 50px;
    	display: inline-block;
    }

    .rightside {
    	margin-top: 20px;
    	margin-right: 10px;
    	width: 300px;
		display: inline-block;
		float: right;
    }

    .fit {
    	height: 100%;
    }

}

@media only screen and (min-width : 1281px) {
	.overlay {
		position: fixed;
		bottom: 0;
		padding-bottom: 10px;
	}
}









